<?xml version="1.0" encoding="UTF-8"?>
<package version="2.0" packagerversion="1.7.2" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
	<!-- $Id$ -->
	<name>HTTPRelay</name>
	<channel>pear.oops.org</channel>
	<summary>Fetch or Relay HTTP query</summary>
	<description>HTTP GET/POST 요청을 하거나, 또는 받은 HTTP query를 다른 서버로 Relay</description>
	<lead>
		<name>JoungKyun.Kim</name>
		<user>joungkyun</user>
		<email>joungkyun@gmail.com</email>
		<active>yes</active>
	</lead>
	<date>@curdate@</date>
	<time>@curtime@</time>
	<version>
		<release>1.0.6</release>
		<api>1.0.0</api>
	</version>
	<stability>
		<release>stable</release>
		<api>stable</api>
	</stability>
	<license>BSD</license>
	<notes>* fixed #1 Unable to post json data
* fixed #2 Overwrite for existing headers in set_header method
</notes>
	<contents>
		<dir name="/">
			<file role="php" md5sum="@HTTPRelay.php@" name="HTTPRelay.php" />
		</dir>
	</contents>
	<dependencies>
		<required>
			<php>
				<min>5.1.0</min>
			</php>
			<pearinstaller>
				<min>1.4.3</min>
			</pearinstaller>
			<package>
				<name>myException</name>
				<channel>pear.oops.org</channel>
				<min>1.0.1</min>
			</package>
		</required>
	</dependencies>
	<phprelease />
	<changelog>
		<release>
			<version>
				<release>1.0.6</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>@curdate@</date>
			<license>BSD</license>
			<notes>* fixed #1 Unable to post json data
* fixed #2 Overwrite for existing headers in set_header method
</notes>
		</release>
		<release>
			<version>
				<release>1.0.5</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2014-05-30</date>
			<license>BSD</license>
			<notes>* fixed unchanged Host header when recall
* fixed wrong control about https protocol
* support case insensitive about protocol
* fixed ssl certification verify problem
* enhanced error detecting
* support auto redirect
</notes>
		</release>
		<release>
			<version>
				<release>1.0.4</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2014-03-08</date>
			<license>BSD</license>
			<notes>- fixed relay error when sent with url-encode method
- fixed ignored httphost header arguments on head/relay/fetch APIs
</notes>
		</release>
		<release>
			<version>
				<release>1.0.3</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2014-01-25</date>
			<license>BSD</license>
			<notes>* fixed missing 3th argument when call set_header method
</notes>
		</release>
		<release>
			<version>
				<release>1.0.2</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2013-09-26</date>
			<license>BSD</license>
			<notes>* release 1.0.2
* add head method for requesting HTTP/1.1 HEAD method
</notes>
		</release>
		<release>
			<version>
				<release>1.0.1</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2013-09-24 18:47:10</date>
			<license>BSD</license>
			<notes>* release 1.0.1
* fixed typo CURL_FAILONERROR to CURLOPT_FAILONERROR
* add myException dependency
* add posttype public property ('form-data', 'url-encode')
</notes>
		</release>
		<release>
			<version>
				<release>1.0.0</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2013-09-24 01:49:04</date>
			<license>BSD</license>
			<notes>* release 1.0.0
</notes>
		</release>
	</changelog>
</package>
